.portfolio-single-text {
	text-align:center;
}

.diensten-afbeelding-right img {
    width: 400px;
    height: 400px;
    position: absolute;
    right: -360px;
    top: 0;
    margin-top: -50px;
    object-fit: cover;
}

.diensten-single-right {
	margin-left:26%;
}

.diensten-prijs {
	font-weight:bold;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width:767px){
.contact .col-md-7 {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-right: 15px;
    padding-bottom: 50px;
   }

.contact .col-md-5 {
    padding-left: 15px;
    padding-top: 50px;
}

#aboutme .col-lg-6 p {
    padding-right: 15px;
}
}

@media only screen and (max-width: 991px){
    .diensten .col-lg-3 .diensten-block{
        margin-bottom: 15px;
    }

    .diensten .col-lg-3 .diensten-block p {
        padding-top: 175px;
        padding-bottom: 175px;
    }

}

@media only screen and (max-width: 1400px){
    .reviews-box {
        padding: 25px 15px 75px 0px;
    }

    #reviews .col-md-7 .container {
        margin-left: 75px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1199px){
    img.about-me-picture{
        width: 425px;
        height: 425px;
        margin-left: -25px;
        margin-top: 75px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
    img.portfolio-image-1 {
        position: absolute;
        width: 325px;
        height: 525px;
        margin-top: -50px;
        z-index: 999;
    }

    img.portfolio-image-2 {
        position: absolute;
        width: 325px;
        height: 525px;
        margin-top: -170px;
        margin-left: 210px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1099px){
    img.about-me-picture{
        width: 400px;
        height: 400px;
        margin-left: 25px;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 991px){
    img.about-me-picture, img.portfolio-image-1, img.portfolio-image-2  {
        display: none;
    }

    #portfolio {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .portfolio-image-mobile {
        display: block;
        width: 50%;
        margin-top: 50px;
    }

    #portfolio .col-lg-5 {
        padding-right: 15px;
    }

    img.about-me-picture-mobile {
        display: block;
        width: 100%;
        margin-top: 75px;
    }
}

@media only screen and (max-width: 465px){
    img.about-me-picture, img.portfolio-image-1, img.portfolio-image-2  {
        display: none;
    }

    #aboutme {
        height: 700px;
        margin-bottom: 275px;
    }

    #portfolio {
        margin-bottom: 250px;
        height: 800px;
    }

    .portfolio-image-mobile {
        display: block;
        width: 100%;
        margin-top: 50px;
    }


    img.about-me-picture-mobile {
        display: block;
        width: 100%;
        margin-top: 75px;
    }
}

@media only screen and (min-width: 466px) and (max-width: 767px){
    /* #aboutme {
        margin-bottom: 375px;
    } */
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    /* #aboutme {
        margin-bottom: 475px;
    } */
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .reviews-box img {
        width: 350px;
        height: 350px;
        margin-left: -550px;
    }
}

@media only screen and (max-width: 767px){
    .reviews-box img {
        display: none;
    }

    #reviews .col-md-7 .container {
        margin-left: 0px;
    }
}
