.contact {
    margin: 10px;
    width: 600px;
    border-color: #D8D8D8;
}

.contact-row {
    margin: 5px;
}

#send-button {
    margin-top: 10px;
    background-color: #EDDBCC;
    border-color: #EDDBCC;
}